* {
  padding: 0;
  margin: 0;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.bg-color {
  background-color: rgb(252, 228, 243);
}
.logo-container {
  text-align: center;
  padding: 10px;
}

/* gift container start */

.gift-order-placed {
  display: flex;
}
.gift-order-first-half {
  width: 50%;
  text-align: center;
}
.gift-order-first-half h1 {
  color: #f013c0;
  font-family: "Hind Siliguri", Sans-serif;
  font-size: 23px;
  font-weight: 900;
  margin-bottom: 13px;
}
.gift-order-first-half h3 {
  color: #000000;
  font-family: "Hind Siliguri", Sans-serif;
  font-size: 18px;
  font-weight: 900;
  margin-bottom: 16px;
  margin-top: 12px;
}
.gift-order-first-half img {
  width: 100%;
  margin-bottom: 10px;
}
.gift-order-second-half {
  width: 50%;
  text-align: center;
  margin-left: 15px;
}
.gift-order-second-half h2 {
  color: #f013c0;
  font-family: "Hind Siliguri", Sans-serif;
  font-size: 19px;
  font-weight: 900;
  margin-bottom: 20px;
  padding: 0 15px;
}
.gift-order-second-half .button {
  border: none;
  background-color: #000000;
  color: white;
  padding: 12px 24px;
  border-radius: 3px;
  color: #fff;
  text-align: center;
  font-weight: 900;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
/* gift container end */

/* gift detail section start */

.gift-details-container {
  display: flex;
  margin-top: 10px;
}
.gift-details-first-half {
  width: 50%;
}
.gift-details-first-half iframe {
  width: 100%;
}
.gift-details-second-half {
  width: 50%;
  margin-left: 15px;
  text-align: center;
}
.gift-details-second-half h1 {
  color: #f013c0;
  font-family: "Hind Siliguri", Sans-serif;
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 13px;
  margin-top: 0;
}
.gift-details-second-half .button {
  background-color: #000000;
  color: white;
  padding: 10px 24px;
  border-radius: 3px;
  color: #fff;
  text-align: center;
  transition: all .3s;
  font-weight: 900;
  border: none;
  font-size: 16px;
  margin-top: 10px;
}
/* gift detail section end */

/* package section start */
.package-title {
  text-align: center;
  color: #f013c0;
  font-family: "Hind Siliguri", Sans-serif;
  font-size: 22px;
  font-weight: 900;
  margin-bottom: 13px;
  margin-top: 15px;
}
.package-container {
  padding: 20px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}
.package-container img {
  width: 120px;
  height: 120px;
  margin-bottom: 25px;
}
.package-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.package-container h5 {
  margin-bottom: 12px;
  color: #f013c0;
  font-family: "Hind Siliguri", Sans-serif;
  font-weight: 900;
  font-size: 17px;
  text-align: center;
}
.package-container p {
  color: #000000;
  font-family: "Hind Siliguri", Sans-serif;
  font-weight: 900;
  font-size: 15px;
  margin-top: 0;
  text-align: center;
}

/* package section end */

/* slider section style start */

/* slider section style end */

.special-gift-container h5 {
  margin-bottom: 12px;
  color: #f013c0;
  font-family: "Hind Siliguri", Sans-serif;
  font-weight: 900;
}
.all-package {
  display: flex;
}
.all-package h5 {
  color: #000000;
  font-family: "Hind Siliguri", Sans-serif;
  font-weight: 700;
}
.all-package-first-half {
  width: 50%;
  height: 70%;
  text-align: center;
}
.all-package-first-half .telephone {
  background-color: #000000;
  color: white;
  padding: 12px 24px;
  border-radius: 3px;
  color: #fff;
  text-align: center;
  transition: all .3s;
  border: none;
  font-family: "Hind Siliguri", Sans-serif;
  font-size: 26px;
  font-weight: 500;
}
.all-package-second-half {
  width: 50%;
  text-align: center;
}
.all-package-second-half .package-price {
  font-family: "Hind Siliguri", Sans-serif;
  font-size: 23px;
  font-weight: 500;
  background-color: #f9007f;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 3px;
  text-align: center;
  transition: all .3s;
}

/* form container style start */
.form-container h1 {
  text-align: center;
  color: #000000;
  font-family: "Hind Siliguri", Sans-serif;
  font-size: 18px;
  font-weight: 900;
  margin-top: 12px;
}
.form-container h2 {
  text-align: center;
  margin-bottom: 12px;
  color: #f013c0;
  font-family: "Hind Siliguri", Sans-serif;
  font-weight: 900;
  font-size: 18px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 50px;
}
.form-container-details {
  display: flex;
}
.form-container form h3 {
  font-family: "Hind Siliguri", Sans-serif;
  font-weight: 600;
  font-size: 20px;
  margin: 0 0 25px 0;
  padding: 0;
  color: #333;
  margin-bottom: 25px;
}
.form-container-first-half {
  width: 50%;
}
.form-container-first-half form input {
  width: 100%;
  padding: 13px 10px;
  border: 1px solid #d4d4d4;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 3px;
  font-size: 14px;
}
.form-container-first-half .required {
  color: #404040;
  font-size: 14px;
  line-height: 1em;
  letter-spacing: 0.3px;
  font-family: inherit;
  font-weight: inherit;
  /* margin-bottom: 15px; */
}
.form-container-first-half .required::after {
  content: " *";
  color: red;
  font-size: 16px;
}
.form-container-second-half {
  width: 50%;
  padding: 0 70px;
}
.form-container-second-half h3 {
  font-family: "Hind Siliguri", Sans-serif;
  font-weight: 600;
  font-size: 20px;
  margin: 0 0 25px 0;
  padding: 0;
  color: #333;
  margin-bottom: 15px;
}

.form-container-second-half table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}
.form-container-second-half table thead {
  font-weight: 700;
}
.form-container-second-half table thead tr th {
  padding: 15px 0;
  border-bottom: 1px dashed #c2c0c0;
}
.form-container-second-half table tbody td img {
  width: 25%;
  height: 25%;
  border-radius: 10px;
  margin-right: 10px;
}
.product-increase {
  border: none;
  width: 5%;
  margin-right: 7px;
}
.form-container-second-half table tbody td {
  font-family: "Hind Siliguri", Sans-serif;
  font-size: 15px;
  color: #333;
  padding: 15px 0;
}
.form-container-second-half table tbody tr {
  padding: 15px 0;
  border-bottom: 1px dashed #c2c0c0;
}
.form-container-second-half table tfoot tr {
  font-family: "Hind Siliguri", Sans-serif;
  font-size: 15px;
  color: #333;
}
.form-container-second-half table tfoot tr td {
  padding: 15px 0;
  font-weight: 700;
}
.add-product {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 15px 0;
}

.form-container-second-half table thead tr th {
  text-align: left;
  font-size: 15px;
  color: #404040;
  font-family: "Hind Siliguri", Sans-serif;
}

.form-container-second-half h4 {
  font-size: 15px;
  color: #272626;
  font-family: "Hind Siliguri", Sans-serif;
  margin-bottom: 20px;
  font-weight: 400;
  cursor: pointer;
  transition: 0.3s;
}

.form-container-second-half p {
  font-size: 12px;
  color: #696969;
  font-family: "Hind Siliguri", Sans-serif;
  margin-bottom: 20px;
}
.form-container-second-half p a {
  text-decoration: none;
  color: black;
}

.form-container-second-half i {
  margin-right: 8px;
}
.form-container-second-half button {
  width: 100%;
  border: none;
  background-color: #000000;
  color: white;
  padding: 18px 24px;
  border-radius: 3px;
  color: #fff;
  text-align: center;
  transition: all .3s;
  font-weight: 500;
  border: none;
  font-size: 15px;
  margin-bottom: 20px;
}

/* form container style end */

/* footer section style start */

.footer-bg {
  background-color: #e3ebf0;
  margin-bottom: 25px;
}
.footer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 15px;
  text-align: center;
}
.footer-container img {
  width: 128px;
  height: 128px;
  margin-top: 15px;
}
.footer-container p {
  color: #f9007f;
  font-family: "Hind Siliguri", Sans-serif;
  font-weight: 900;
  font-size: 17px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

/* footer section style end */

/* media query */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
